#*.pdf
*.ps

*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb

*.eps
#*.pdf
*.svg
#*.png

*.bib

*.xml

*.fig.bak
*.tex.bak
*.tex.new
*.tex.orig
.*.swp

*.o

*.tar.gz

auto
_region_.tex

\#*\#
.\#*
*~
#*.npy

#dirs to ignore
project/db


DEADJOE
